push constant 0
pop this 0
push constant 0
pop this 1
function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
pop temp 0
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto IF_FALSE0
push this 0
call Square.moveUp 1
pop temp 0
goto IF_TRUE1
label IF_FALSE0
label IF_TRUE1
push this 1
push constant 2
eq
not
if-goto IF_FALSE2
push this 0
call Square.moveDown 1
pop temp 0
goto IF_TRUE3
label IF_FALSE2
label IF_TRUE3
push this 1
push constant 3
eq
not
if-goto IF_FALSE4
push this 0
call Square.moveLeft 1
pop temp 0
goto IF_TRUE5
label IF_FALSE4
label IF_TRUE5
push this 1
push constant 4
eq
not
if-goto IF_FALSE6
push this 0
call Square.moveRight 1
pop temp 0
goto IF_TRUE7
label IF_FALSE6
label IF_TRUE7
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
pop temp 0
function SquareGame.run 2
push constant 0
pop local 0
push constant 0
pop local 1
push argument 0
pop pointer 0
push constant 0
pop local 1
label TRUE8
push local 1
not
not
if-goto FALSE9
label TRUE10
push local 0
push constant 0
eq
not
if-goto FALSE11
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto TRUE10
label FALSE11
push local 0
push constant 81
eq
not
if-goto IF_FALSE12
push constant 1
neg
pop local 1
goto IF_TRUE13
label IF_FALSE12
label IF_TRUE13
push local 0
push constant 90
eq
not
if-goto IF_FALSE14
push this 0
call Square.decSize 1
pop temp 0
goto IF_TRUE15
label IF_FALSE14
label IF_TRUE15
push local 0
push constant 88
eq
not
if-goto IF_FALSE16
push this 0
call Square.incSize 1
pop temp 0
goto IF_TRUE17
label IF_FALSE16
label IF_TRUE17
push local 0
push constant 131
eq
not
if-goto IF_FALSE18
push constant 1
pop this 1
goto IF_TRUE19
label IF_FALSE18
label IF_TRUE19
push local 0
push constant 133
eq
not
if-goto IF_FALSE20
push constant 2
pop this 1
goto IF_TRUE21
label IF_FALSE20
label IF_TRUE21
push local 0
push constant 130
eq
not
if-goto IF_FALSE22
push constant 3
pop this 1
goto IF_TRUE23
label IF_FALSE22
label IF_TRUE23
push local 0
push constant 132
eq
not
if-goto IF_FALSE24
push constant 4
pop this 1
goto IF_TRUE25
label IF_FALSE24
label IF_TRUE25
label TRUE26
push local 0
push constant 0
eq
not
not
if-goto FALSE27
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto TRUE26
label FALSE27
goto TRUE8
label FALSE9
push constant 0
return
pop temp 0
